.box {
    min-height: 50px;
    min-width: 50px;
    border-style: solid;
    border-color: lightgray;
    text-align: center;
    font-size: x-large;
    margin: 15px;
    padding: 3px;
}

.success > .box {
    background: #00b74a;
}

.game {
    max-width: 800px;
}
