<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>____TITLE____</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../lib/bootstrap/css/mdb.min.css" />
</head>
<body>

    <div class="container-fluid">
        <h1>___HEADING____</h1>
        <p class="lead">
            ____DESCRIPTION____
        </p>

        <div class="row">
            <div class="col">

                <ul class="nav nav-tabs mb-3 nav-justified" id="tablist" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="tab-demo" data-mdb-toggle="tab" href="#tab-demo-content" role="tab" aria-controls="tab-demo-content"
                            aria-selected="true">Demo</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-quickstart" data-mdb-toggle="tab" href="#tab-quickstart-content" role="tab" aria-controls="tab-quickstart-content"
                            aria-selected="false">Description</a>
                    </li>
                </ul>

                <div class="tab-content" id="tab-content">
                    <div class="tab-pane fade show active" id="tab-demo-content" role="tabpanel" aria-labelledby="tab-demo">
                        <div class="card">
                            <div class="card-body">




                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-quickstart-content" role="tabpanel" aria-labelledby="tab-quickstart">
                        <div class="card">
                            <div class="card-body">




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="../lib/bootstrap/js/mdb.min.js"></script>
<script src="../lib/ichigo/js/ichigo-full.min.js"></script>
<script src="js/____DEMO_SCRIPT____.js"></script>

</html>